<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>

        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>

        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>

        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>

        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>

        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>

        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>

        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
        <div class="box color2"></div>
        <div class="box color1"></div>
    </div>
</body>

</html>
